
/* This is a partial blocks.css, you need to add more rules
   to this file to complete the assignment.  Do not add any CSS
   styling to the original index.htm / start.htm */

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Here is one of many  CSS rules you will need... */
#one { /*Turn out*/
    font-size : 120%;
    font-family : Arial;
    border-style : solid;
    border-color: rgb(0,0,256);
    height: 50%;
    width: 15%;
    float: right;
    margin-top: 30%;
    
    display: inline-block;
}

#two {/*All you need in this life*/
	font-size : 120%;
    font-family : Arial;
    border-style : solid;
    border-color: rgb(0,100,0);
    float: right;
    margin-top: 0%;
    margin-right: -15%;
    height: 50%;
    width: 15%;
}

#three {/*Well, if crime fighters*/
	font-size : 120%;
    font-family : Arial;
    border-style : solid;
    border-color: rgb(256,100,0);
    height: 50%;
    width: 15%;
}

#four {/*Great minds discuss*/
	font-size : 120%;
    font-family : Arial;
    border-style : solid;
    border-color: rgb(256,256,0);
    height: 50%;
    width: 15%;
    margin-top: 20%;
}
#roh {
	background-color: rgb(0,0,256);
	color : rgb(256,256,256);
	margin-left: 45%;
	
}
#five{
	position: relative;
	margin-top: -37%;
}